body{
  background-color: brown;
}
h1 {
  margin: 0, auto;
  text-align: center;
}
.cell {
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 65px;
  cursor: pointer;
}
#gameContainer {
  font-family: "Permanent Marker", cursive;
  text-align: center;
}
#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
  text-align: center;
}
#restartBtn {
  margin: 0, auto;
  margin-top: 10px;
  width: 80px;
  height: 30px;
}
.scoreboard{
  display: flex;
  border-color: black;
  border: 2px;
  border-style: dashed;
  flex-direction: row;
}
#xWins{
display: block;
margin: 50px;
font-size: larger;
}
#oWins{
  display: block;
  margin: 50px;
  font-size: larger;
}
#ties{
  display: block;
  margin: 50px;
  font-size: larger;
}
